{% extends 'admin_dash_base.html' %}

<!-- <!DOCTYPE html>
<html lang="en">
    <body>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Content</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html> -->



{% block title %}Reviewed Articles{% endblock %}

{% block body %}
    <h1 class="article-list-heading">REVIEWED ARTICLES</h1>
    <form method="POST">
    <table class="articles-list">
        <thead>
            <tr style="color: rgb(200, 170, 18);">
                <th>Publish?</th>
                <th>Title</th>
                <th>Author</th>
                <th>Reviewer ID</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            
                {% csrf_token %}
                {% for article in articles %}
                <tr style="color: rgb(218, 218, 218);">
                    <td><input type="checkbox" name=article_id{{article.article_id}} value={{article.article_id}}></td>
                    <td><a href="{% url "magazine:admin_view_article" article.article_id %}">{{article.title }}</a></td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.reviewer_id }}</td>
                    <td>
                        <fieldset class="rate">
                            <input type="radio" id="rating10" name="rating{{article.article_id}}" value="10" {{article.checked10}} disabled/><label for="rating10" title="5 stars" disabled></label>
                            <input type="radio" id="rating9" name="rating{{article.article_id}}" value="9"   {{article.checked9}}  disabled/><label class="half" for="rating9" title="4 1/2 stars" disabled></label>
                            <input type="radio" id="rating8" name="rating{{article.article_id}}" value="8"   {{article.checked8}}  disabled/><label for="rating8" title="4 stars" disabled></label>
                            <input type="radio" id="rating7" name="rating{{article.article_id}}" value="7"   {{article.checked7}}  disabled/><label class="half" for="rating7" title="3 1/2 stars" disabled></label>
                            <input type="radio" id="rating6" name="rating{{article.article_id}}" value="6"   {{article.checked6}}  disabled/><label for="rating6" title="3 stars" disabled></label>
                            <input type="radio" id="rating5" name="rating{{article.article_id}}" value="5"   {{article.checked5}}  disabled/><label class="half" for="rating5" title="2 1/2 stars" disabled></label>
                            <input type="radio" id="rating4" name="rating{{article.article_id}}" value="4"   {{article.checked4}}  disabled/><label for="rating4" title="2 stars" disabled></label>
                            <input type="radio" id="rating3" name="rating{{article.article_id}}" value="3"   {{article.checked3}}  disabled/><label class="half" for="rating3" title="1 1/2 stars" disabled></label>
                            <input type="radio" id="rating2" name="rating{{article.article_id}}" value="2"   {{article.checked2}}  disabled/><label for="rating2" title="1 star" disabled></label>
                            <input type="radio" id="rating1" name="rating{{article.article_id}}" value="1"   {{article.checked1}}  disabled/><label class="half" for="rating1" title="1/2 star" disabled></label>
                        </fieldset>
                    </td>
                </tr>
                {% endfor %}
                <tr><td><input type="submit" id="publish-button" value="Publish"></td></tr>
                    

            
        </tbody>
    </table>
    </form>

    
{% endblock %}