{% extends 'magazine_dash_base.html' %}

{% block body %}
<h1 class="article-list-heading">PUBLISHED ARTICLES</h1>
        <table class="articles-list">
            <thead>
                <tr style="color: rgb(200, 170, 18);">
                    <th>S.No.</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>               
                    {% csrf_token %}
                    {% for article in articles %}
                    <tr style="color: rgb(218, 218, 218);">
                        <td>{{ article.0}}</td>
                        <td><a href="{% url "magazine:magazine_article" article.1 %}">{{ article.2 }}</a></td>
                        <td>{{ article.3 }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
{% endblock %}
